In [1]:
import pandas as pd

In [2]:
df= pd.read_excel('sampledatafoodsales.xlsx', 'FoodSales') #read_csv

In [3]:
df

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96

In [4]:
df.head()

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84

In [5]:
df.tail()

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
239,2021-12-18,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96

In [6]:
df.head(15)

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
5,2020-01-16,East,Boston,Bars,Carrot,54,1.77,95.58
6,2020-01-19,East,Boston,Crackers,Whole Wheat,149,3.49,520.01
7,2020-01-22,West,Los Angeles,Bars,Carrot,51,1.77,90.27
8,2020-01-25,East,New York,Bars,Carrot,100,1.77,177.00
9,2020-01-28,East,New York,Snacks,Potato Chips,28,1.35,37.80
10,2020-01-31,East,Boston,Cookies,Arrowroot,36,2.18,78.48
11,2020-02-03,East,Boston,Cookies,Chocolate Chip,31,1.87,57.97
12,2020-02-06,East,Boston,Crackers,Whole Wheat,28,3.49,97.72
13,2020-02-09,West,Los Angeles,Bars,Carrot,44,1.77,77.88
14,2020-02-12,East,New York,Bars,Carrot,23,1.77,40.71

In [7]:
df[67:100]

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
67,2020-07-21,East,New York,Cookies,Oatmeal Raisin,56,2.84,159.04
68,2020-07-24,West,San Diego,Bars,Bran,51,1.87,95.37
69,2020-07-27,West,San Diego,Snacks,Potato Chips,31,1.68,52.08
70,2020-07-30,East,Boston,Bars,Bran,56,1.87,104.72
71,2020-08-02,East,Boston,Cookies,Oatmeal Raisin,137,2.84,389.08
72,2020-08-05,West,Los Angeles,Cookies,Chocolate Chip,107,1.87,200.09
73,2020-08-08,East,New York,Bars,Carrot,24,1.77,42.48
74,2020-08-11,East,New York,Crackers,Whole Wheat,30,3.49,104.70
75,2020-08-14,West,San Diego,Cookies,Chocolate Chip,70,1.87,130.90
76,2020-08-17,East,Boston,Cookies,Arrowroot,31,2.18,67.58
77,2020-08-20,East,Boston,Bars,Carrot,109,1.77,192.93
78,2020-08-23,East,Boston,Crackers,Whole Wheat,21,3.49,73.29
79,2020-08-26,West,Los Angeles,Cookies,Chocolate Chip,80,1.87,149.60
80,2020-08-29,East,New York,Bars,Bran,75,1.87,140.25
81,2020-09-01,East,New York,Cookies,Oatmeal Raisin,74,2.84,210.16
82,2020-09-04,West,San Diego,Bars,Carrot,45,1.77,79.65
83,2020-09-07,East,Boston,Cookies,Arrowroot,28,2.18,61.04
84,2020-09-10,East,Boston,Bars,Carrot,143,1.77,253.11
85,2020-09-13,East,Boston,Snacks,Pretzels,27,3.15,85.05
86,2020-09-16,West,Los Angeles,Bars,Carrot,133,1.77,235.41
87,2020-09-19,East,New York,Cookies,Arrowroot,110,2.18,239.80
88,2020-09-22,East,New York,Cookies,Chocolate Chip,65,1.87,121.55
89,2020-09-25,West,San Diego,Bars,Bran,33,1.87,61.71
90,2020-09-28,East,Boston,Cookies,Arrowroot,81,2.18,176.58
91,2020-10-01,East,Boston,Bars,Carrot,77,1.77,136.29
92,2020-10-04,East,Boston,Crackers,Whole Wheat,38,3.49,132.62
93,2020-10-07,West,Los Angeles,Bars,Carrot,40,1.77,70.80
94,2020-10-10,West,Los Angeles,Snacks,Potato Chips,114,1.68,191.52
95,2020-10-13,East,New York,Cookies,Arrowroot,224,2.18,488.32
96,2020-10-16,East,New York,Bars,Carrot,141,1.77,249.57
97,2020-10-19,East,New York,Crackers,Whole Wheat,32,3.49,111.68
98,2020-10-22,West,San Diego,Bars,Carrot,20,1.77,35.40
99,2020-10-25,East,Boston,Cookies,Arrowroot,40,2.18,87.20

In [8]:
df['UnitPrice']

0      1.77
1      3.49
2      1.87
3      1.87
4      2.18
       ...
239    2.18
240    1.87
241    3.49
242    1.87
243    2.84
Name: UnitPrice, Length: 244, dtype: float64

In [9]:
df['UnitPrice'].max()

3.49

In [10]:
df.describe()

         Quantity   UnitPrice  TotalPrice
count  244.000000  244.000000  244.000000
mean    63.286885    2.200820  136.580246
std     47.112505    0.600169  108.354231
min     20.000000    1.350000   33.600000
25%     31.000000    1.770000   72.570000
50%     47.000000    1.870000  102.755000
75%     80.000000    2.840000  159.300000
max    306.000000    3.490000  817.920000

In [11]:
df1= df['UnitPrice'].sort_values()

In [12]:
df1

15     1.35
9      1.35
58     1.68
26     1.68
31     1.68
       ...
97     3.49
44     3.49
116    3.49
92     3.49
156    3.49
Name: UnitPrice, Length: 244, dtype: float64

In [13]:
df.fillna(0)

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96

In [14]:
df.dropna()

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96